@import url('https://fonts.googleapis.com/css2?family=Rye&family=Special+Elite&family=Inter:wght@400;500;600;700;800&family=IBM+Plex+Mono:wght@400;500;600&display=swap');

.rye-regular {
    font-family: "Rye", serif;
    font-weight: 400;
    font-style: normal;
}
